stages:
  - test
  - image

variables:
  PUBLIC_REGISTRY_HOST: docker.io
  PUBLIC_REGISTRY_OWNER: maxdudenko
  PUBLIC_REGISTRY_APP_NAME: module-39

test:
  stage: test
  image: golang:1.15
  script:
    - go test ./...

build_image:stable:
  stage: image
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $PUBLIC_REGISTRY_OWNER -p $PUBLIC_REGISTRY_PASSWORD $PUBLIC_REGISTRY_HOST
    - docker build -t $PUBLIC_REGISTRY_HOST/$PUBLIC_REGISTRY_OWNER/$PUBLIC_REGISTRY_APP_NAME:$CI_COMMIT_REF_NAME ./
    - docker push $PUBLIC_REGISTRY_HOST/$PUBLIC_REGISTRY_OWNER/$PUBLIC_REGISTRY_APP_NAME:$CI_COMMIT_REF_NAME
  only:
    - main

build_image:latest:
  stage: image
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $PUBLIC_REGISTRY_OWNER -p $PUBLIC_REGISTRY_PASSWORD $PUBLIC_REGISTRY_HOST
    - docker build -t $PUBLIC_REGISTRY_HOST/$PUBLIC_REGISTRY_OWNER/$PUBLIC_REGISTRY_APP_NAME:latest ./
    - docker push $PUBLIC_REGISTRY_HOST/$PUBLIC_REGISTRY_OWNER/$PUBLIC_REGISTRY_APP_NAME:latest
  when: manual